
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 14% 93%; /* #ECDFCC */
    --foreground: 90 3% 12%; /* #1E201E */

    --card: 50 14% 93%; /* #ECDFCC */
    --card-foreground: 90 3% 12%; /* #1E201E */

    --popover: 50 14% 93%; /* #ECDFCC */
    --popover-foreground: 90 3% 12%; /* #1E201E */

    --primary: 90 4% 23%; /* #3C3D37 */
    --primary-foreground: 50 14% 93%; /* #ECDFCC */

    --secondary: 96 8% 43%; /* #697565 */
    --secondary-foreground: 50 14% 93%; /* #ECDFCC */

    --muted: 96 8% 43%; /* #697565 */
    --muted-foreground: 50 14% 83%; /* Lighter version of ECDFCC */

    --accent: 96 8% 43%; /* #697565 */
    --accent-foreground: 50 14% 93%; /* #ECDFCC */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 50 14% 93%; /* #ECDFCC */

    --border: 96 8% 43%; /* #697565 */
    --input: 96 8% 43%; /* #697565 */
    --ring: 90 3% 12%; /* #1E201E */

    --radius: 0.5rem;

    --sidebar-background: 90 3% 12%; /* #1E201E */
    --sidebar-foreground: 50 14% 93%; /* #ECDFCC */
    --sidebar-primary: 90 4% 23%; /* #3C3D37 */
    --sidebar-primary-foreground: 50 14% 93%; /* #ECDFCC */
    --sidebar-accent: 96 8% 43%; /* #697565 */
    --sidebar-accent-foreground: 50 14% 93%; /* #ECDFCC */
    --sidebar-border: 90 4% 23%; /* #3C3D37 */
    --sidebar-ring: 96 8% 43%; /* #697565 */
  }

  .dark {
    --background: 90 3% 12%; /* #1E201E */
    --foreground: 50 14% 93%; /* #ECDFCC */

    --card: 90 3% 12%; /* #1E201E */
    --card-foreground: 50 14% 93%; /* #ECDFCC */

    --popover: 90 3% 12%; /* #1E201E */
    --popover-foreground: 50 14% 93%; /* #ECDFCC */

    --primary: 50 14% 93%; /* #ECDFCC */
    --primary-foreground: 90 3% 12%; /* #1E201E */

    --secondary: 90 4% 23%; /* #3C3D37 */
    --secondary-foreground: 50 14% 93%; /* #ECDFCC */

    --muted: 90 4% 23%; /* #3C3D37 */
    --muted-foreground: 96 8% 63%; /* Lighter version of #697565 */

    --accent: 90 4% 23%; /* #3C3D37 */
    --accent-foreground: 50 14% 93%; /* #ECDFCC */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 50 14% 93%; /* #ECDFCC */

    --border: 90 4% 23%; /* #3C3D37 */
    --input: 90 4% 23%; /* #3C3D37 */
    --ring: 50 14% 83%; /* Lighter version of #ECDFCC */

    --sidebar-background: 90 4% 23%; /* #3C3D37 */
    --sidebar-foreground: 50 14% 93%; /* #ECDFCC */
    --sidebar-primary: 96 8% 43%; /* #697565 */
    --sidebar-primary-foreground: 50 14% 93%; /* #ECDFCC */
    --sidebar-accent: 90 3% 17%; /* Darker version of #1E201E */
    --sidebar-accent-foreground: 50 14% 93%; /* #ECDFCC */
    --sidebar-border: 90 3% 17%; /* Darker version of #1E201E */
    --sidebar-ring: 96 8% 43%; /* #697565 */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
